doctype html
html
  head
    title Sample Node App
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    p You made a POST request on http://localhost:3000/post/' with the string "<span>#{originalString}</span>", a string of length <span>#{stringLength}<span>.
